/* src/components/LandingPage.css */
.landing-content {
    /* padding: 20px; */
    text-align: center;
  }
  
.Banner{
    display:flex;
    flex-direction: column;
    position:relative;
    height: 70vh;

}

.banner-image{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.banner-text h1 {
  font-size: 3rem; /* Adjust as needed */
  margin-bottom: 20px;
}

.banner-text p {
  font-size: 1.5rem; /* Adjust as needed */
  margin-bottom: 30px;
}
.Rooms-page {
  margin-top: 110px; /* Adjust the value as needed */
}
.booking-form {
    position: absolute; /* Position the form absolutely within the Banner */
    bottom: -30px; /* Position it at the bottom of the image */
    left: 50%; /* Center the form horizontally */
    transform: translateX(-50%); /* Center the form horizontally */
    display: flex;
    gap: 5px; /* Space between form fields */
    background: linear-gradient(to bottom, blue, white); /* Linear gradient from blue to white */
    padding: 10px 20px; /* Padding inside the form */
    border-radius: 10px; /* Rounded corners */
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); Optional: add a subtle shadow for depth */
    border:5px solid orangered;
    border-bottom:white;
}

  .form-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    flex: 1 1 100%; /* Full width on small screens */
    min-width: 200px;
  }
  
  .form-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, border-color 0.3s;
    margin-right: 20px;
    width: 150px;
    height:40px;
  }
  
  .booking-form Button {
    flex: 1 1 100%; /* Full width on small screens */
  }
  .form-button:hover {
    background-color: #000000; /* Change color on hover */
  }

.banner-text{

  bottom: 30px;
}
.Footer{

  margin-top:30px;
}